<%= form_with(model: entreprise, local: true) do |form| %>
  <% if entreprise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entreprise.errors.count, "error") %> prohibited this entreprise from being saved:</h2>

      <ul>
      <% entreprise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :langague %>
    <%= form.text_field :langague %>
  </div>

  <div class="field">
    <%= form.label :adress %>
    <%= form.text_field :adress %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
