<p id="notice"><%= notice %></p>


    <% @entreprises.each do |entreprise| %>

      <%= entreprise.name %>
      <%= entreprise.year %>
      <%= entreprise.person %>
      <%= entreprise.adress %>
      <%= entreprise.titre %>
      <%= entreprise.juridique %>
      <%= entreprise.phone %>
      <%= entreprise.email %>
      <%= entreprise.web %>
      <%= entreprise.ville1 %>
      <%= entreprise.ville2 %>
      <%= entreprise.country %>
      <%= entreprise.secteur %>
      <%= entreprise.other %>
      <%= entreprise.siret %>

      <%= link_to 'Show', entreprise %>
      <%= link_to 'Edit', edit_entreprise_path(entreprise) %>
      <%= link_to 'Destroy', entreprise, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>

<%= link_to 'New Entreprise', new_entreprise_path %>
