<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entreprise.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entreprise.description %>
</p>

<p>
  <strong>Langague:</strong>
  <%= @entreprise.langague %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @entreprise.adress %>
</p>

<%= link_to 'Edit', edit_entreprise_path(@entreprise) %> |
<%= link_to 'Back', entreprises_path %>
