<center>
    <h1>Student 1</h1>
</center>
<div class="student_dashboard1">
    <%= form_for @cv, method: :patch do |f| %>
    <div class="cv container">
        <center>
            <h1>Mon Curriculum Vitae</h1>
        </center>
        <div class="row">
            <div class="avatar col-md-4">
                <% avatar = @student.sexe == 'Homme' ? 'profilh.png' : 'profilf.png' %>
                <div class="text-center">
                    <%= image_tag avatar, class: "img-thumbnail rounded float-left" %>
                </div>
            </div>
            <div class="summary right container col-md-8">
                <%= f.label :summary, "Résumé" %>
                <p class="summary">
                    <%= f.text_area :summary, value: @cv.summary, class: "form-control" %>
                </p>
            </div>
        </div>
        <!-- <hr> -->
        <div class="row">
            <div class="student_infos col-md-5">
                <h2><%= link_to "Developpeur #{@cv.developer_type}", edit_student_path(@student) %></h2>
                <table class="table table-primary">
                    <tr>
                        <th>Nom complet</th>
                        <td>
                            <%= @student.lastname %>
                            <%= @student.firstname %>
                        </td>
                    </tr>
                    <tr>
                        <th>Date de naissance</th>
                        <td>
                            <%= tag.time l(@student.birthdate, format: :long) %>
                        </td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>
                            <%= @student.tel %>
                        </td>
                    </tr>
                    <tr>
                        <th>Addresse</th>
                        <td>
                            <%= @student.address %>
                        </td>
                    </tr>
                    <tr>
                        <th>Sexe</th>
                        <td>
                            <%= @student.sexe %>
                        </td>
                    </tr>
                    <tr>
                        <th>Etat civil</th>
                        <td>
                            <%= @student.marital_status %>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="right col-md-7">
                <h2><%= f.label :experiences, "Experiences" %></h2>
                <div class="experiences row" style="display: block;">
                    <div id="experience0" class="first-field experience form-group col-md-4">

                            <select id="exp0" name="experiences[exp0]" class="form-control">
                                <option>exp1</option>
                                <option>exp2</option>
                                <option>exp3</option>
                            </select>
                    </div>
                    <% @cv.experiences.each do |exp| %>
                    <div id="experience<%= exp.id %>" class="experience form-group col-md-4 row">
                        <div class="col-md-11">
                            <%= exp.name %>
                        </div>
                        <div class="col-2 col-sm-1 col-md-1 col-lg-1 remove">
                            <button id="rmexp<%= exp.id %>" class="btn btn-danger remove-me">x</button>
                        </div>
                    </div>
                    <% end %>
                </div>
                <div cla>
                    <a href="#" id="experiences" class="add-more btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <!-- <hr> -->
        <div class="row">
            <div class="hobbies col-md-5">
                <h2><%= f.label :hobbies, "Passe temps" %></h2>
                <p class="hobbies">
                    <%= f.text_area :hobbies, value: @cv.hobbies, class: "form-control" %>
                </p>
            </div>
            <div class="right col-md-7">
                <h2><%= f.label :skills, "Compétences" %></h2>
                <div class="skills row">
                    <div id="skill0" class="first-field skill form-group col-md-4">
                            <select id="skill0" name="skills[skill0]" class="form-control">
                                <option>skill1</option>
                                <option>skill2</option>
                                <option>skill3</option>
                            </select>
                    </div>
                    <% @cv.skills.each do |skill| %>
                    <div id="skill<%= skill.id %>" class="skill form-group col-md-4 row">
                        <div class="col-md-11">
                            <%= skill.name %>
                        </div>
                        <span class="col-2 col-sm-1 col-md-1 col-lg-1 remove">
                            <button id="rmskill<%= skill.id %>" class="btn btn-danger remove-me">x</button>
                        </span>
                    </div>
                    <% end %>
                </div>
                <a href="#" id="skills" class="add-more btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="right col-md-7">
                <h2>Langues</h2>
                <div class="languages row">
                    <div id="language0" class="first-field language form-group col-md-4">
                            <select id="language0" name="languages[language0]" class="form-control">
                                <option>language1</option>
                                <option>language2</option>
                                <option>language3</option>
                            </select>
                    </div>
                    <% @cv.languages.each do |language| %>
                    <div id="language<%= language.id %>" class="language form-group col-md-4 row">
                        <div class="col-md-11">
                            <%= language.name %>
                        </div>
                        <span class="col-2 col-sm-1 col-md-1 col-lg-1 remove">
                            <a href="#" id="rmlanguage<%= language.id %>" class="btn btn-danger remove-me"><i class="fas fa-plus"></i></a>
                        </span>
                    </div>
                    <% end %>
                </div>
                <a href="#" id="languages" class="add-more btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
        </div>
        <hr>
    </div>
    <% end %>
</div>
<style type="text/css">
    .student_infos a {
            display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    }
    .experiences, .skills, .languages {
        padding: 0 15px;
    }
    .first-field{
        padding: 0 8px 0 0;
    }
    .experience, .skill, .language{
        margin: 0 0 1% 0 !important;
    }
    .student_dashboard1 .col-md-11, .student_dashboard1 .col-md-1 {
        padding: 0;
    }
    .student_dashboard1 .col-md-11 {
        margin-left: -15px;
        margin-right: 5px;
    }
</style>
<% content_for :head_tag do %>
<script>
$(document).ready(function($) {
    
    $(".add-more").click(function(e) {
        e.preventDefault();

        let id = this.id;

        let div = $(`div.${id}:first`);
        let child = $(`div.${id}:first div:last`);
        let children = $(`div.${id}:first div.col-md-4`);

        let newInput;

        if (id == "experiences") {
            newInput = `
                <div id="experience${children.length}" class="experience form-group col-md-4 row">
                    <div class="col-md-11">
                        <select id="exp${children.length}" name="experiences[exp0]" class="form-control">
                            <option>exp1</option>
                            <option>exp2</option>
                            <option>exp3</option>
                        </select>
                    </div>
                    <div class="col-2 col-sm-1 col-md-1 col-lg-1 remove">
                        <a id="rmexperience${children.length}" class="btn btn-danger remove-me" >x</a>
                    </div>
                </div>
            `;
        } else if (id == "skills") {
            newInput = `
                <div id="skill${children.length}" class="skill form-group col-md-4 row">
                    <div class="col-md-11">
                        <select id="skill${children.length}" name="skills[skill0]" class="form-control">
                            <option>skill1</option>
                            <option>skill2</option>
                            <option>skill3</option>
                        </select>
                    </div>
                    <div class="col-2 col-sm-1 col-md-1 col-lg-1 remove">
                        <a id="rmskill${children.length}" class="btn btn-danger remove-me" >x</a>
                    </div>
                </div>
            `;
        } else if (id == "languages") {
            newInput = `
                <div id="language${children.length}" class="language form-group col-md-4 row">
                    <div class="col-md-11">
                        <select id="language${children.length}" name="languages[language0]" class="form-control">
                            <option>language1</option>
                            <option>language2</option>
                            <option>language3</option>
                        </select>
                    </div>
                    <div class="col-2 col-sm-1 col-md-1 col-lg-1 remove">
                        <a id="rmlanguage${children.length}" class="btn btn-danger remove-me" >x</a>
                    </div>
                </div>
            `;
        } else {
            newInput = ``;
        }

        $(div).append(newInput);

        $(".remove-me").click(function(e) {
            e.preventDefault();

            let id = this.id.slice(2,this.id.length);
            let div = $(`div#${id}`);
            div.fadeOut('slow');
        });
    });
})
</script>
<% end %>