<% content_for :head_tag do %>
<%= javascript_include_tag 'jquery.validate.min.js' %>
<%= javascript_include_tag 'simpleform.min.js' %>
<%= javascript_include_tag 'users/registrations.js' %>
<%= javascript_include_tag 'validation.js' %>
<style type="text/css">
div.toggle label.btn {
    text-align: center;
}

div.toggle {
    display: block;
    width: 100% !important;
    float: left;
}

span.toggle-handle.btn {
    background-color: white;
    width: 3%;
    height: 100%;
    margin: 0;
}
</style>
<% end %>
<div class="registration">
    <center>
        <h1>Sign up</h1>
    </center>
    <div class="main">
        <div id="wrapper" class="wrapper_w3layouts">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "testform", id: "testform"}) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="fieldset">
                <!-- user params -->
                <fieldset class="personal-data w3_agileits_field">
                    <div class="row">
                        <span>
                            <%= f.text_field :username,value: "Rivaille", autofocus: true, autocomplete: "email", placeHolder:"Votre meilleur pseudo", class: "balloon" %>
                            <label for="user_username">Pseudo</label>
                        </span>
                        <span>
                            <%= f.email_field :email, value: "rivaille@yopmail.com", autocomplete: "email", placeHolder:"email@address.com", class: "balloon" %><label for="user_email">email</label>
                        </span>
                        <span>
                            <%= f.password_field :password, value: "000000", autocomplete: "new-password", placeHolder:"******", class: "balloon" %>
                            <label for="user_password">Mot de passe</label>
                        </span>
                        <span>
                            <%= f.password_field :password_confirmation, autocomplete: "new-password", value: "000000", placeHolder:"******", class: "balloon" %>
                            <label for="user_password_confirmation">Mot de passe</label>
                        </span>
                    </div>
                </fieldset>
                <!-- end user params -->
                <fieldset class="personal-data w3_agileits_field">
                    <div class="user_status row">
                        <div class="status">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group bw fir" style="width: 100% !important; padding: 0;">
                                <input data-toggle="toggle" data-off="Student" data-offstyle="warning" data-on="Company" data-onstyle="success" type="checkbox" name="status" id="status" class="form-control">
                            </div>
                        </div>
                        <span class="w3_agile_personal">
                            <select class="form-control" name="country" id="country">
                                <% CS.countries.map do |c| %>
                                <option value="<%= c[0] %>">
                                    <%= c[1] %>
                                </option>
                                <% end %>
                            </select>
                        </span>
                        <span class="agile_personal">
                            <select class="form-control" name="city" id="city" required="">
                                <option>Choose a state</option>
                                <% CS.states(:AD).map do |c| %>
                                <option value="<%= c[1] %>">
                                    <%= c[1] %>
                                </option>
                                <% end %>
                            </select>
                        </span>
                        <div class="inputs">
                            <span class="agileits_personal">
                                <input value="0347739305" class="form-control" type="tel" id="student_tel" name="student[tel]" placeholder="Telephone personal" required="" />
                            </span>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="personal-data address-data-input w3_agileits_field agileinfo_field user-form">
                    <div class="row">
                        <div class="col-md-6" style="padding-right: 2%">
                            <span class="w3l_personal">
                                <label class="agileits_label" for="student_lastname">Nom de famille</label>
                                <input value="A.N.Tsimanarson" class="form-control" type="text" id="student_lastname" name="student[lastname]" placeholder="Nom de famille" required="" />
                            </span>
                        </div>
                        <div class="col-md-6" style="padding-left: 2%">
                            <span class="w3l_personal">
                                <label class="agileits_label" for="student_firstname">Prénom</label>
                                <input value="Princy" class="form-control" type="text" id="student_firstname" name="student[firstname]" placeholder="Prénom" required="" />
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="padding-right: 2%">
                            <span class="w3layouts_personal">
                                <label class="agileits_label" for="student_birthdate">Date de naissance</label>
                                <input class="form-control" type="date" id="student_birthdate" name="student[birthdate]" required="" />
                            </span>
                        </div>
                        <div class="col-md-6" style="padding-left: 2%">
                            <span class="w3_agileits_personal">
                                <label class="agileits_label" for="student_address">Addresse</label>
                                <input value="Lot FMAI 124 bis 67ha SUD" class="form-control" type="text" id="student_address" name="student[address]" placeholder="Somewhere on the earth" required="" />
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="padding-right: 2%">
                            <span class="w3_agileits_personal">
                                <label class="agileits_label" for="student_sex">Sexe</label>
                                <select class="form-control" name="student[sexe]" id="student_sexe">
                                    <option>Homme</option>
                                    <option>Femme</option>
                                    <option>Non confirmé</option>
                                </select>
                            </span>
                        </div>
                        <div class="col-md-6" style="padding-left: 2%">
                            <span class="w3_agileits_personal">
                                <label class="agileits_label" for="student_marital_status">état civil</label>
                                <select class="form-control" name="student[marital_status]" id="student_marital_status">
                                    <option>Célibataire</option>
                                    <option>Marié</option>
                                    <option>Mariée</option>
                                    <option>Divorcé</option>
                                    <option>Divorcée</option>
                                    <option>Veuf</option>
                                    <option>Veuve</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <span class="w3layouts_personal">
                        <label class="agileits_label" for="cv_hobbies">Loisirs</label>
                        <input value="Hacking - Football - Volleyball" class="form-control" id="cv_hobbies" name="cv[hobbies]" />
                    </span>
                    <span class="w3layouts_personal">
                        <label class="agileits_label" for="cv_summary">Résumé</label>
                        <textarea class="form-control" id="cv_summary" name="cv[summary]" required="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Duis aute irure dolor in reprehenderit in voluptate velit esse dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </textarea>
                    </span>
                </fieldset>
                <fieldset class="personal-data message-details w3_agileits_field conditions">
                    <span class="w3">
                        <div class="conditions">
                            <h2>Conditions d'inscription</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </span>
                    <div class="">
                        <input type="checkbox" id="registration_condition" name="registration[condition]">
                        <label for="registration_condition">J'accepte les conditions sans lire car j'ai trop la flemme de la lecture</label>
                    </div>
                </fieldset>
            </div>
            <% end %>
            <div class="clear"></div>
            <hr>
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>