<% content_for :head_tag do %>
<!--jquery steps-->
<link href="/assets/vendor/jquery-steps/jquery.steps.css" rel="stylesheet">
<!--date picker-->
<link href="/assets/vendor/date-picker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="/assets/users/registrations/registrations.css" rel="stylesheet">
<script src="/assets/vendor/icheck/skins/icheck.min.js"></script>
<!--jquery validate-->
<script src="/assets/vendor/jquery-validation/jquery.validate.min.js"></script>
<!-- init jquery validate -->
<script src="/assets/vendor/js-init/init-jquery-validate.js"></script>
<!--jquery steps-->
<script src="/assets/vendor/jquery-steps/jquery.steps.min.js"></script>
<!--init steps-->
<script src="/assets/vendor/js-init/init-form-wizard.js"></script>
<!--jquery stepy-->
<script src="/assets/vendor/jquery-steps/jquery.stepy.js"></script>
<!--input mask-->
<script src="/assets/vendor/input-mask/jquery.inputmask.bundle.js"></script>
<!--init input mask-->
<script src="/assets/vendor/js-init/init-input-mask.js"></script>
<!--date picker-->
<script src="/assets/vendor/date-picker/js/bootstrap-datepicker.min.js"></script>
<!--init date picker-->
<script src="/assets/vendor/js-init/pickers/init-date-picker.js"></script>
<!-- registration js -->
<script src="/assets/users/registrations/registrations.js"></script>
<% end %>
<div class="col-xl-12">
    <div class="card card-shadow mb-4">
        <div class="card-header border-0">
            <div class="custom-title-wrap bar-warning row">
                <div class="custom-title col-2">Inscription</div>
                <div class="col-2 btn-link">
                    <a href="/users/sign_in" data-method="GET">Se connecter</a>
                </div>
                <div class="col-2 btn-link">
                    <a href="/users/password/new" data-method="GET">Mot de passe oublié</a>
                </div>
                <div class="col-3 btn-link">
                    <a href="/users/confirmation/new" data-method="GET">J'ai pas reçu d'email de confirmation</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "wizard-validation-form", class: "right-text-label-form custom-wz"}) do |f| %>
            <div>
                <h3>
                    <span class="wz-title">étape 1</span>
                    <span class="wz-sub-header">Inscription / Connexion</span>
                </h3>
                <section class="">
                    <div class="col-sm-3 col-md-3"></div>
                    <div class="col-sm-6 col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><label for="user_email">Email</label></span>
                            </div>
                            <%= f.email_field :email, autocomplete: "email", placeHolder:"email@address.com", class: "form-control" %>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><label for="user_username">Pseudo</label></span>
                            </div>
                            <%= f.text_field :username, autofocus: true, autocomplete: "email", placeHolder:"Votre meilleur pseudo", class: "form-control" %>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><label for="user_password">Mot de passe</label></span>
                            </div>
                            <%= f.password_field :password, autocomplete: "new-password", placeHolder:"******", minlenght: "6", class: "form-control" %>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><label for="user_password_confirmation">Re-Mot de passe</label></span>
                            </div>
                            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeHolder:"******", minlenght: "6", class: "form-control" %>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <button value="student" type="button" class="status btn btn-primary btn-lg btn-block">Etudiant</button>
                            </div>
                            <input type="hidden" id="registration_status" name="registration[status]">
                            <div class="col-sm-6">
                                <button value="company" type="button" class="status btn btn-outline-primary btn-lg btn-block">Entreprise</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3"></div>
                </section>
                <h3>
                    <span class="wz-title">étape 2</span>
                    <span class="wz-sub-header">Coordonnées / Contacts</span>
                </h3>
                <section>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="country"> Pays *</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="country" id="country">
                                <% CS.countries.map do |c| %>
                                <option value="<%= c[0] %>" <% if c[0].to_s=="MG" %> selected
                                    <% end %>>
                                    <%= c[1] %>
                                </option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="city"> Ville *</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="city" id="city" required="">
                                <option>Veuillez choisir votre ville</option>
                                <optgroup label="Antsiranana">
                                    <option value="DIANA">DIANA</option>
                                    <option value="SAVA">SAVA</option>
                                </optgroup>
                                <optgroup label="Mahajanga">
                                    <option value="Sofia">Sofia</option>
                                    <option value="Boeny">Boeny</option>
                                    <option value="Betsiboka">Betsiboka</option>
                                </optgroup>
                                <optgroup label="Toamasina">
                                    <option value="Alaotra Mangoro">Alaotra Mangoro</option>
                                    <option value="Analanjirofo">Analanjirofo</option>
                                    <option value="Atsinanana">Atsinanana</option>
                                </optgroup>
                                <optgroup label="Antananarivo">
                                    <option value="Analamanga">Analamanga</option>
                                    <option value="Vakinankaratra">Vakinankaratra</option>
                                    <option value="Bongolava">Bongolava</option>
                                    <option value="Itasy">Itasy</option>
                                </optgroup>
                                <optgroup label="Toliara">
                                    <option value="Melaky">Melaky</option>
                                    <option value="Menabe">Menabe</option>
                                    <option value="Atsimo Andrefana">Atsimo Andrefana</option>
                                    <option value="Androy">Androy</option>
                                    <option value="Anosy">Anosy</option>
                                </optgroup>
                                <optgroup label="Fianarantsoa">
                                    <option value="Ihorombe">Ihorombe</option>
                                    <option value="Atsimo Atsinanana">Atsimo Atsinanana</option>
                                    <option value="Vatovavy Fitovinany">Vatovavy Fitovinany</option>
                                    <option value="Haute Matsiatra">Haute Matsiatra</option>
                                    <option value="Amoron'i Mania">Amoron'i Mania</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div id="coord">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="student_address">Addresse </label>
                            <div class="col-sm-6">
                                <input id="student_address" name="student[address]" type="text" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputmask_3" class="col-sm-4 col-form-label col-form-label-sm">Mobile</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputmask_3" name="student[tel]" >
                            </div>
                        </div>
                    </div>
                </section>
                <h3>
                    <span class="wz-title">étape 3</span>
                    <span class="wz-sub-header">Mes Informations</span>
                </h3>
                <section style="margin-right: 0; margin-left: 0;">
                    <div class="step3 row" style="width: -webkit-fill-available;">
                        <div class="col-sm-6 col-md-6">
                            <h4>Infos Personelles</h4>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><label for="student_lastname">Nom et Prénom</label></span>
                                </div>
                                <input id="student_lastname" name="student[lastname]" type="text" class="form-control" placeholder="Nom de Famille">
                                <input id="student_firstname" name="student[firstname]" type="text" class="form-control" placeholder="Prénom(s)">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="student_sexe">Sexe</label>
                                </div>
                                <select class="custom-select" name="student[sexe]" id="student_sexe">
                                    <option selected>Masculin</option>
                                    <option>Feminin</option>
                                    <option>Non spécifié</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><label for="student_marital_status">Status Civil</label></span>
                                </div>
                                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="student_marital_status" name="student[marital_status]" placeholder="Célibataire">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><label for="student_birthdate">Date de naissance</label></span>
                                </div>
                                <input type="date" class="form-control" name="student[birthdate]" id="student_birthdate">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <h4>Infos pour le CV</h4>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Mon résumé" name="cv[summary]" id="cv_summary"></textarea>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Mes meilleurs loisirs" name="cv[hobbies]" id="cv_hobbies"></textarea>
                            </div>
                        </div>
                    </div>
                </section>
                <h3>
                    <span class="wz-title">étape 4</span>
                    <span class="wz-sub-header">Vérification</span>
                </h3>
                <section>
                    <div class="step4"></div>
                    <hr>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input id="acceptTerms" name="agree" type="checkbox" required="">
                            <label for="acceptTerms">J'accepte les <a href="javascript:;" class="btn-link" data-toggle="modal" data-target="#exampleModalLong">termes et conditions d'utilisation</a>.</label>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Termes et conditions d'inscription</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <% end %>
        </div>
    </div>
</div>