<div id="navbar" class="icon-bar">
    <a href="/monprofil/<%= current_user.student.id %>/edit" data-method="GET" <% if controller_name=="students" && action_name=="edit" %>class="active"
        <% end %>>
        <i class="fas fa-user-edit"></i>
    </a>
    <a href="/monprofil/<%= current_user.student.id %>" data-method="GET" <% if controller_name=="students" && action_name=="show" %>class="active"
        <% end %> >
        <i class="fa fa-user"></i>
    </a>
    <a href="/moncv/<%= current_user.student.cv.id %>" data-method="GET" <% if controller_name=="cvs" && action_name=="show" %>class="active"
        <% end %> >
        <i class="fa fa-address-card"></i>
    </a>
    <a href="/moncv/<%= current_user.student.cv.id %>/edit" data-method="GET" <% if controller_name=="cvs" && action_name=="edit" %>class="active"
        <% end %>>
        <i class="fa fa-edit"></i>
    </a>
    <a href="<%= cv_download_path(current_user.student.cv, format: " pdf") %>" target="_blank">
        <i class="fas fa-file-export"></i>
    </a>
</div>
<style>
    #navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  z-index: 99;
  background-color: #ddd;
  color: black;
  transform: scale3d(1.5, 1.5, 2);
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.icon-bar {
  width: 30%;
  background-color: #333;
  overflow: auto;
}

.icon-bar a {
  transform: translateZ(10px);
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 1em;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}
</style>
<script type="text/javascript">
jQuery(document).ready(function($) {
    let yourNavigation = $(".navbar");
    stickyDiv = "sticky";
    yourHeader = $('.header').height();

    $(window).scroll(function() {
        if ($(this).scrollTop() > yourHeader) {
            yourNavigation.addClass(stickyDiv);
        } else {
            yourNavigation.removeClass(stickyDiv);
        }
    });
});
</script>