<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @student.birthdate %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @student.tel %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @student.summary %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @student.hobbies %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
