<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @student.birthdate.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @student.tel %>
</p>

<p>
  <strong>Userame:</strong>
  <%= @student.user.username %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Cv:</strong>
  <%= link_to "mon cv", "/moncv/#{@student.cv.id}" %>
</p>

<%= link_to 'Back', students_path %>