    $input = $(`div#languages`).children('input.language:first'),
    $tag = $(`
        <div id="<%=  @language.id  %>" class="tag language">
            <a href="#" class="language" id="<%= @language.id %>"><i class="icon-close" aria-hidden="true"></i></a>
            <span class="name"><%= @language.name %></span>
            <div class="stars">
                <% 3.times do |id| %>
                    <span class="level fa fa-star" style="color: gold;"></span>
                <% end %>
                <% 4.times do |id| %>
                    <span class="level icon-star" style="color: gold;"></span>
                <% end %>
            </div>
        </div>
    `),
    $appendHere = $(`.tagHere.languages:first`);

$tag.appendTo($appendHere);

$($input).val('');
$($input).focus();

$a = $(`a.language`);

$a.bind('click', function(e) {
    e.preventDefault();
    $(this).unbind('click');

    let $DIV = $tag,
        $CVID = $(`div.moncv:first`).attr('id'),
        $ID = "<%=  @language.id %>";

    removeLanguage($DIV, $CVID, $ID);
});

$(`span.level`).click(function(event) {
    event.preventDefault();
    let $ITEM, $ID, $LEVEL;
    let parent = $(this).parent('div.stars:first');
    let siblings = parent.children('span.level');


    $ITEM = "languages";
    $ID = "<%=  @language.id %>";
    $LEVEL = Number(siblings.index(this)) + 1;

    for (let i = siblings.length - 1; i >= 0; i--) {
        if (siblings.index(siblings.eq(i)) <= siblings.index(this)) {
            siblings.eq(i).removeClass('icon-star')
                .addClass('fa')
                .addClass('fa-star');
        } else {
            siblings.eq(i).removeClass('fa')
                .removeClass('fa-star')
                .addClass('icon-star');
        }
    }

    updateLevel($ITEM, $ID, $LEVEL);
});

    $(`.tag`).hover(function() {
        $(this).children('.close').show('fast');
    }, function() {
        $(this).children('.close').hide('fast');
    });


function removeLanguage(div, cv_id, id) {
    let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');

    div.fadeOut('slow', function() {
        div.remove();
    });

    $.ajax({
        url: `/languages/${id}`,
        type: 'DELETE',
        data: {
            authenticity_token: AUTH_TOKEN,
            cv_id: cv_id,
            id: id
        },
    });
}

function updateLevel(item, id, level) {
    let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');

    $.ajax({
        url: `/${item}/${id}`,
        type: 'PATCH',
        data: {
            authenticity_token: AUTH_TOKEN,
            id: id,
            level: level
        }
    });
}