<%= form_with(model: notification) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", required: "", maxlength: "35" %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, class: "form-control", required: "" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control", required: "" %>
  </div>

  <div class="row">
    
  <div class="field col-md-6">
    <%= form.label :target %>
    <select class="form-control" id="notification_target" name="notification[target]" required="">
      <option value="all">Tout le monde</option>
      <option value="students">Tous les étudiants</option>
      <option value="companies">Toutes les entreprises</option>
    </select>
  </div>

  <div class="field col-md-6">
    <%= form.label :level %>
    <select class="form-control" id="notification_level" name="notification[level]" required="">
      <option value="success">Bonne nouvelle</option>
      <option value="primary">Information</option>
      <option value="warning">Avertissement</option>
      <option value="danger">Alerte</option>
    </select>
  </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
