<% if company.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

    <ul>
    <% company.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: company, local: true) do |form| %>
  <div class="form_row">
    <div class="form-group col-md-6">
      <div class="form-group">
        <%= form.label :name, "Nom", class: '' %>
        <%= form.text_field :name , class: 'form-control' %>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="form-group">
        <%= form.label :start_date , class: '' %>
        <%= form.number_field :start_date , class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form_row">
    <div class="form-group col-md-6">
      <div class="form-group">
        <%= form.label :address , class: '' %>
        <%= form.text_field :address , class: 'form-control'%>
      </div>
    </div>
    <div class="form-group col-md-6">

      <div class="form-group">
        <%= form.label :tel , class: '' %>
        <%= form.text_field :tel , class: 'form-control'%>
      </div>
    </div>
  </div>

  <div class="form_row">
    <div class="form-group col-md-6">
      <div class="form-group">
        <%= form.label :activity_area , class: '' %>
        <%= form.text_field :activity_area , class: 'form-control'%>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="form-group">
        <%= form.label :siret , class: '' %>
        <%= form.text_field :siret , class: 'form-control'%>
      </div>
    </div>
  </div>

  <div class="form_row">
    <div class="form-group col-md-6">
      <div class="form-group">
        <%= form.label :legal_status , class: '' %>
        <%= form.text_field :legal_status , class: 'form-control'%>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="form-group">
        <%= form.label :Other , class: '' %>
        <%= form.text_field :other , class: 'form-control'%>
      </div>
    </div>
  </div>

  <br>

  <div class="text-center">
    <%= form.submit "Mettre à jour", class: "btn btn-default" %>
  </div>

<% end %>
