
<body >
  <div class="cub" >
    <div class="form_row container">

      <%= render 'form', company: @company %>

  <div class="card card-shadow mb-4">
      <div class="row">
        <div class="col-md-4">
                  <div class="custom-title-wrap bar-danger">
                      <div class="custom-title" style="color: #07A9F5 ; margin-left: 20px" > <i class="fa fa-address-card-o"></i> Vos staff</div>
                  </div>
                  <div class="card-body">
                   <dl class="toggle">
                     <dt>
                       <a href="">Nouveaux </a>
                     </dt>
                     <dd>
                       <div class="staff_append">
                       </div>

                   </dd>
                 </dl>
                  </div>
        </div>
          <div class="col-md-8">
                   <div class="card-header border-0">
                   </div>
                   <div class="custom-title-wrap bar-pin k ">
                     <div class="custom-title">
                                  <div class="col-md-4 mb-4">
                                                 <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModal4" data-whatever="@mdo" style="margin-rigth: 2px"> <i class="ti-plus"> </i>Ajouter</button>
                                                 <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
                                                     <div class="modal-dialog" role="document">
                                                         <div class="modal-content">
                                                             <div class="modal-header">
                                                                 <h5 class="modal-title" id="exampleModalLabel5">Nouveaux Staff</h5>
                                                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                     <span aria-hidden="true">&times;</span>
                                                                 </button>
                                                             </div>
                                                             <div class="modal-body">
                                                                <center>
                                                                  <div class="row">
                                                                   <%= form_with(model: @staff, remote: true , id: 'form_staff') do |form| %>
                                                                   <div class="form-group row">
                                                                       <label class="col-sm-4 control-label" for="first_name">first_name</label>
                                                                       <div class="col-sm-8">
                                                                         <%= form.text_field :first_name , class: 'form-control', placeholder: "first_name" ,id: "first_name" %>
                                                                     </div>
                                                                 </div>
                                                                 <div class="form-group row">
                                                                     <label class="col-sm-4 control-label" for="last_name">last_name</label>
                                                                     <div class="col-sm-8">
                                                                       <%= form.text_field :last_name , class: 'form-control', placeholder: "last_name" ,id: "last_name" %>
                                                                     </div>
                                                                 </div>
                                                               <div class="form-group row">
                                                                   <label class="col-sm-4 control-label" for="job">job</label>
                                                                     <div class="col-sm-8">
                                                                       <%= form.text_field :job , class: 'form-control', placeholder: "job" ,id: "job" %>
                                                                     </div>
                                                                 </div>
                                                                 <div class="form-group row">
                                                                     <label class="col-sm-4 control-label" for="email">email</label>
                                                                     <div class="col-sm-8">
                                                                       <%= form.text_field :email , class: 'form-control', placeholder: "email" ,id: "email" %>
                                                                   </div>
                                                                 </div>
                                                                 <div class="form-group row">
                                                                     <label class="col-sm-4 control-label" for="tel">tel</label>
                                                                     <div class="col-sm-8">
                                                                       <%= form.text_field :tel , class: 'form-control', placeholder: "tel" ,id: "tel" %>
                                                                   </div>
                                                                 </div>
                                                                  <input type="hidden" name="company_id" value="<%= @company.id%>">
                                                                  <div class="actions">
                                                                  </div>

                                                                  </div>
                                                                </center>

                                                             </div>
                                                             <div class="modal-footer">
                                                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                 <%= form.submit "ok" , class: "btn btn-primary" %>

                                                             </div>
                                                             <% end %>
                                                         </div>
                                                     </div>
                                                 </div>
                                               </div>
                                             </div>
                                             <div class="row">
                                               <% @company.staff.each do |staf| %>
                                               <div id="<%= staf.id %>" >
                                                 <div class="row" style="margin-left: 40px , margin-right: 0px">
                                                    <div class="col-sm-2">
                                                      <img class="rounded-circle" src="/assets/profilh.png" width="50px" alt=""/>
                                                    </div>
                                                    <div class="col-sm-4">
                                                      <i class="fa fa-address-book" aria-hidden="true"></i> :  <%= staf.first_name %> <%= staf.last_name %>
                                                      <br>
                                                      <br>
                                                      <i class="fa fa-envelope-open-o" aria-hidden="true"></i> :  <%= staf.email %>
                                                      <br>
                                                      </div>
                                                      <div class="col-sm-4">
                                                        <i class="icon-phone"></i> : <%= staf.tel %>
                                                        <br>
                                                        <br>

                                                        <i class="fa fa-fax" aria-hidden="true"></i> : <%= staf.job %>
                                                      </div>

                                                    <div class="col-sm-2" >

                                                      <%= link_to  staf, method: :delete , remote: true ,class: "btn btn-danger" ,style: 'size: 100px' do %>
                                                      <i class="fa fa-window-close" aria-hidden="true"></i>
                                                      <% end %>
                                                    </div>
                                                 </div>





                                               </div>
                                               <br>
                                               <br>
                                               <hr>
                                               <% end %>
                                             </div>

                   </div>

          </div>
      </div>
  </div>
                                <div class="card card-shadow mb-4">
                                      <div class="row">
                                        <div class="col-md-4">
                                                  <div class="custom-title-wrap bar-danger">
                                                      <div class="custom-title" style="color: #07A9F5 ; margin-left: 20px" > <i class="fa fa-address-card-o"></i> Vos Réseaux Sociaux</div>
                                                  </div>
                                                  <div class="card-body">
                                                   <dl class="toggle">
                                                     <dt>
                                                       <a href="">Nouveaux</a>
                                                     </dt>
                                                     <dd>
                                                       <div class="web_append">
                                                       </div>

                                                   </dd>
                                                 </dl>
                                                  </div>
                                        </div>
                                          <div class="col-md-8">
                                                   <div class="card-header border-0">
                                                   </div>
                                                   <div class="custom-title-wrap bar-pin k ">
                                                     <div class="custom-title">

                                                         <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg"> <i class="ti-plus"> </i>AJOUTER</button>

                                                                 <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                                     <div class="modal-dialog modal-lg">
                                                                         <div class="modal-content">
                                                                             <div class="modal-header">
                                                                                 <h5 class="modal-title" id="myLargeModalLabel">Modal title</h5>
                                                                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                     <span aria-hidden="true">&times;</span>
                                                                                 </button>
                                                                             </div>
                                                                             <div class="modal-body">

                                                                                       <%= form_with(model: @web, remote: true , id: 'form_web') do |form| %>
                                                                                       <div class="field">
                                                                                         <%= form.hidden_field :company_id, value: "#{@company.id}" %>
                                                                                       </div>
                                                                                       <div class="field">
                                                                                         <div class="form-group row">
                                                                                             <label class="col-sm-4 control-label" for="liens">Name</label>
                                                                                             <div class="col-sm-8">
                                                                                               <select class="form-control" id="option_s4" name="web[name]">
                                                                                                 <option></option>
                                                                                                 <option value='fa fa-facebook'>
                                                                                                   facebook
                                                                                                 </option>
                                                                                                 <option value='fa fa-twitter'>
                                                                                                   twitter
                                                                                                 </option>
                                                                                                 <option value='fa fa-google'>
                                                                                                   google
                                                                                                 </option>
                                                                                                 <option value='fa fa-linkedin'>
                                                                                                   linkedin
                                                                                                 </option>
                                                                                                 <option value='fa fa-youtube'>
                                                                                                   youtube
                                                                                                 </option>
                                                                                                 <option value='fa fa-instagram'>
                                                                                                   instagram
                                                                                                 </option>
                                                                                                 <option value='fa fa-pinterest'>
                                                                                                   pinterest
                                                                                                 </option>

                                                                                                 <option value='fa fa-snapchat-ghost'>
                                                                                                   snapchat
                                                                                                 </option>
                                                                                                 <option value='fa fa-skype'>
                                                                                                   skype
                                                                                                 </option>
                                                                                                 <option value='fa fa-android'>
                                                                                                   android
                                                                                                 </option>

                                                                                                 <option value='fa fa-dribbble'>
                                                                                                   dribbble
                                                                                                 </option>
                                                                                                 <option value='fa fa-vimeo'>
                                                                                                   vimeo
                                                                                                 </option>
                                                                                                 <option value='fa fa-tumblr'>
                                                                                                   tumblr
                                                                                                 </option>
                                                                                                 <option value='fa fa-vine'>
                                                                                                   vine
                                                                                                 </option>
                                                                                                 <option value='fa fa-foursquare'>
                                                                                                   foursquare
                                                                                                 </option>
                                                                                                 <option value='fa fa-stumbleupon'>
                                                                                                   stumbleupon
                                                                                                 </option>
                                                                                                 <option value='fa fa-flickr'>
                                                                                                   flickr
                                                                                                 </option>
                                                                                                 <option value='fa fa-yahoo'>
                                                                                                   flickr
                                                                                                 </option>
                                                                                                 <option value='fa fa-reddit'>
                                                                                                   reddit
                                                                                                 </option>
                                                                                                 <option value='fa fa-rss'>
                                                                                                   rss
                                                                                                 </option>

                                                                                               </select>
                                                                                             </div>
                                                                                         </div>
                                                                                       </div>

                                                                                         <div class="form-group row">
                                                                                             <label class="col-sm-4 control-label" for="liens">Liens</label>
                                                                                             <div class="col-sm-8">
                                                                                               <%= form.text_field :link , class: 'form-control', placeholder: "liens" ,id: "liens" %>
                                                                                           </div>
                                                                                       </div>

                                                                                       <div class="actions">

                                                                                       </div>

                                                                             </div>
                                                                             <div class="modal-footer">
                                                                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                                 <%= form.submit 'OK',class: "btn btn-primary" %>
                                                                             </div>
                                                                         </div>
                                                                         <% end %>
                                                                     </div>
                                                                 </div>
                                                     </div>
                                                     <br>
                                                     <div class="row" style="margin-left: 100px">
                                                       <% @company.webs.each do |page| %>
                                                      <div id="<%= page.id %>" >
                                                       <div class="row" style="mrgin-rigth: 100px" >
                                                         <div class="col-sm-6">
                                                           <a href="#" class="<%= page.name %>" style="font-size: 50px "></a>
                                                         </div>
                                                         <p> <a href="<%= page.link %>"> Voir </a></p>
                                                         <br>
                                                            <div class="col-sm-6" >
                                                              <%= link_to  page, method: :delete , remote: true ,class: "btn btn-danger" ,style: 'size: 100px' do %>
                                                              <i class="fa fa-window-close" aria-hidden="true"></i>
                                                              <% end %>

                                                            </div>

                                                         </div>
                                                       </div>

                                                       <% end %>
                                                     </div>


                                                   </div>

                                          </div>
                                      </div>
                                  </div>


</body>
<script>

  $(document).ready(function() {

      var max_fields      = 10; //maximum input boxes allowed
      var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
      var add_button      = $(".add_field_button"); //Add button ID


      $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
      })
      $(".more").hide();
      jQuery('.button-read-more').click(function (event) {
        event.preventDefault();
        $(this).closest('.less').addClass('active');
        $(this).closest(".less").prev().stop(true).slideDown("1000");
      });
      jQuery('.button-read-less').click(function () {
        event.preventDefault();

        $(this).closest('.less').removeClass('active');
        $(this).closest(".less").prev().stop(true).slideUp("1000");
      });
    });
     // $(`#form_staff`).submit();


   </script>
 </div>
