<% content_for :head_tag do %>
<style type="text/css">
@page {
    size: 7in 9.25in;
    margin: 27mm 16mm 27mm 16mm;
}
#monprofile .title {
	text-decoration: underline;
}
</style>
<% end %>
<div id="monprofile" class="container" style="border-right: 4px double;border-top: 1px solid;border-bottom: 1px solid;border-left: 5em solid; box-shadow: 5px 5px 30px 10px black; margin-bottom: 10%;">
    <div class="row">
            <section class="">
                <h2 style="text-align: -webkit-center;font-weight: bolder;">Company</h2>
            </section>
        <section class="content col-md-10">
            <section class="infos container-fluid">
            	<section>
            		<div class="title">
            			<h3>Mes identifiants</h3>
            		</div>
            		<div class="content">
            			<ul>
            			<li><strong>Nom : </strong><%= @company.name %></li>
            			<li><strong>Addresse : </strong><%= @company.address %> <%= @company.cities.first.name %></li>
            			<li><strong>Contact : </strong><%= @company.tel %></li>
            			<li><strong>Status legal : </strong><%= @company.legal_status %></li>
							    <% if @company.staff.any? %>
							    <li>
							    	<strong>Personne à contacter : </strong>
							    	<ul>
            			</ul>
            		</div>
            	</section>
            	<section>
            		<div class="title">
            			<h3>Détails commerciaux</h3>
            		</div>
            		<div class="content">
            			<ul>
            			<li><strong>Date de création : </strong><%= @company.start_date %></li>
            			<li><strong>Secteur d'activité : </strong><%= @company.activity_area %></li>
							    <li><strong>Siret : </strong><%= @company.siret %></li>
            			</ul>
            		</div>
            	</section>
        <div class="container">
                <div class="cub_staff" >

                      <label  class='formGroupExampleInput'><h1>Staff:</h1></label>

                         <% @company.staff.each do |staf| %>
                        <h2> First_name</h2>
                            <%= staf.first_name %>
                        <h2> last_name</h2>
                            <%= staf.last_name %>
                        <h2> job</h2>
                            <%= staf.job %>
                        <h2> email</h2>
                            <%= staf.email %>
                        <h2> tel</h2>
                            <%= staf.tel %>


                            <br>
                          <% end %>
                </div>
               <div class="cub_web" >
                    <label  class='formGroupExampleInput'><h1>web:</h1></label>

                    <% @company.webs.each do |page| %>
                     <h2> name</h2>
                        <%= page.name %>
                    <h2> link</h2>
                        <%= page.link %>

                      <% end %>
               </div>
        </div>
    </div>
</body>
