<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @company.start_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Legal status:</strong>
  <%= @company.legal_status %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.tel %>
</p>

<p>
  <strong>Activity area:</strong>
  <%= @company.activity_area %>
</p>

<p>
  <strong>Siret:</strong>
  <%= @company.siret %>
</p>

<p>
  <strong>Other:</strong>
  <%= @company.other %>
</p>

<%= link_to 'Edit', edit_company_path(@company) ,method: :get %> |
<%= link_to 'Back', companies_path %>
