<% content_for :head_tag do %>
<link rel="stylesheet" type="text/css" href="/assets/cvs/cvs.css">
<% end %>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(`input`).change(function(event) {
        updateCv();
    });
    $(`textarea`).change(function(event) {
        updateCv();
    });
    let maj = $(`a.update:first`);

    let TABKEY = 9;
    $(`div input`).keydown(function(event) {
        if (event.keyCode == TABKEY) {
            let $DIV,
                $INPUT = $(this),
                $NAME = $INPUT.val(),
                $CVID = $(`div.moncv:first`).attr('id');

            if ($INPUT.hasClass('skill')) {
                $DIV = $INPUT.parent('div#skills').children('div.tagHere:first');
                addSkill($DIV, $CVID, $NAME);

            } else if ($INPUT.hasClass('language')) {
                $DIV = $INPUT.parents('div#languages').children('div.tagHere:first');
                addLanguage($DIV, $CVID, $NAME);
            } else if ($INPUT.hasClass('programming_language')) {
                $DIV = $INPUT.parents('div#programming_languages').children('div.tagHere:first');
                addProgrammingLanguage($DIV, $CVID, $NAME);
            }

            event.preventDefault();
        }
    });

    $(`a.skill`).click(function(event) {
        event.preventDefault();

        let $ID = $(this).attr('id'),
            $DIV = $(this).parent('.tag:first'),
            $CVID = $(`div.moncv:first`).attr('id');

        removeSkill($DIV, $CVID, $ID);
    });

    $(`a.language`).click(function(event) {
        event.preventDefault();

        let $ID = $(this).attr('id'),
            $DIV = $(this).parent('.tag:first'),
            $CVID = $(`div.moncv:first`).attr('id');

        removeLanguage($DIV, $CVID, $ID);
    });

    $(`a.programming_language`).click(function(event) {
        event.preventDefault();

        let $ID = $(this).attr('id'),
            $DIV = $(this).parent('.tag:first'),
            $CVID = $(`div.moncv:first`).attr('id');

        removeProgrammingLanguage($DIV, $CVID, $ID);
    });

    $(`a.rmexperience`).click(function(event) {
        event.preventDefault();

        let $ID = $(this).attr('for'),
            $DIV = $(`#${$ID}`),
            $CVID = $(`div.moncv:first`).attr('id');

        removeExperience($DIV, $CVID, $ID);
    });

    $(`a.rmbackground`).click(function(event) {
        event.preventDefault();

        let $ID = $(this).attr('for'),
            $DIV = $(`#${$ID}`),
            $CVID = $(`div.moncv:first`).attr('id');

        removeBackground($DIV, $CVID, $ID);
    });

    $(`.stars span.level`).click(function(event) {
        event.preventDefault();
        let $ITEM, $ID, $LEVEL;
        let parent = $(this).parent('div.stars:first').parent('div.tag:first');
        let siblings = $(this).parent('div.stars:first').children('span.level');

        $ITEM = parent.hasClass('language') ? "languages" : "programming_languages";
        $ID = parent.attr('id');
        $LEVEL = Number(siblings.index(this)) + 1;

        for (let i = siblings.length - 1; i >= 0; i--) {
            if (siblings.index(siblings.eq(i)) <= siblings.index(this)) {
                siblings.eq(i).removeClass('icon-star')
                    .addClass('fa')
                    .addClass('fa-star');
            } else {
                siblings.eq(i).removeClass('fa')
                    .removeClass('fa-star')
                    .addClass('icon-star');
            }
        }

        updateLevel($ITEM, $ID, $LEVEL);
    });

    $(`a.add-more`).click(function(event) {
        event.preventDefault();

        let $DIV = $(`div#${$(this).attr('for')}`),
            $NAME,
            $DESCRIPTION,
            $START,
            $END,
            $CVID = $(`div.moncv:first`).attr('id');

        if ($DIV.attr('id') == 'experiences') {
            $NAME = $(`div.experience.new:first`).children('div.name:first').children('input:first').val();
            $DESCRIPTION = $(`div.experience.new:first`).children('div.description:first').children('textarea:first').val();
            $START = $(`div.experience.new:first`).children('div.date:first').children('input:first').val();
            $END = $(`div.experience.new:first`).children('div.date:first').children('input:last').val();

            addExperience($DIV, $NAME, $DESCRIPTION, $START, $END, $CVID);
        } else if ($DIV.attr('id') == 'backgrounds') {
            $NAME = $(`div.background.new:first`).children('div.name:first').children('input:first').val();
            $DESCRIPTION = $(`div.background.new:first`).children('div.description:first').children('textarea:first').val();
            $START = $(`div.background.new:first`).children('div.date:first').children('input:first').val();
            $END = $(`div.background.new:first`).children('div.date:first').children('input:last').val();

            addBackground($DIV, $NAME, $DESCRIPTION, $START, $END, $CVID);
        }
    });

    $(`a.rmweb`).click(function(event) {
        /* Act on the event */
        event.preventDefault();
        let $ID = $(this).attr('for'),
            $DIV = $(`div#${$ID}`),
            $CVID = $(`div.moncv:first`).attr('id');

        removeWeb($DIV, $CVID, $ID);
    });

    // $(`.tag`).hover(function() {
    //     $(this).children('.close').show('fast');
    // }, function() {
    //     $(this).children('.close').hide('fast');
    // });

    function updateCv() {
        let div = $(`.moncv:first`),
            maj = $(`.update:first`);

        div.css({
            // background: 'gold'
        });
        maj.show('slow');

        maj.click(function(event) {
            $(`#updateCV`).submit();
        });
    }

    function addSkill(div, cv_id, name) {
        if (name == "" || name == " ") { return false; } else {
            let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');

            $.ajax({
                url: '/skills',
                type: 'POST',
                data: {
                    authenticity_token: AUTH_TOKEN,
                    cv_id: cv_id,
                    name: name
                },
            });
        }
    }

    function removeSkill(div, cv_id, id) {
        let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');

        div.fadeOut('slow', function() {
            div.remove();
        });

        $.ajax({
            url: `/skills/${id}`,
            type: 'DELETE',
            data: {
                authenticity_token: AUTH_TOKEN,
                cv_id: cv_id,
                id: id
            },
        });
    }

    function addLanguage(div, cv_id, name) {
        if (name == "" || name == " ") { return false; } else {
            let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');

            $.ajax({
                url: '/languages',
                type: 'POST',
                data: {
                    authenticity_token: AUTH_TOKEN,
                    cv_id: cv_id,
                    name: name
                },
            });
        }
    }

    function removeLanguage(div, cv_id, id) {
        let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');

        div.fadeOut('slow', function() {
            div.remove();
        });

        $.ajax({
            url: `/languages/${id}`,
            type: 'DELETE',
            data: {
                authenticity_token: AUTH_TOKEN,
                cv_id: cv_id,
                id: id
            },
        });
    }

    function addProgrammingLanguage(div, cv_id, name) {
        if (name == "" || name == " ") { return false; } else {
            let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');

            $.ajax({
                url: '/programming_languages',
                type: 'POST',
                data: {
                    authenticity_token: AUTH_TOKEN,
                    cv_id: cv_id,
                    name: name
                },
            });
        }
    }

    function removeProgrammingLanguage(div, cv_id, id) {
        let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');

        div.fadeOut('slow', function() {
            div.remove();
        });

        $.ajax({
            url: `/programming_languages/${id}`,
            type: 'DELETE',
            data: {
                authenticity_token: AUTH_TOKEN,
                cv_id: cv_id,
                id: id
            },
        });
    }

    function updateLevel(item, id, level) {
        let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');

        $.ajax({
            url: `/${item}/${id}`,
            type: 'PATCH',
            data: {
                authenticity_token: AUTH_TOKEN,
                id: id,
                level: level
            }
        });
    }

    function addExperience(div, name, description, start, end, cv_id) {
        if (name != "" && description != "" && start != "") {
            let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');

            $.ajax({
                url: '/experiences',
                type: 'POST',
                data: {
                    authenticity_token: AUTH_TOKEN,
                    cv_id: cv_id,
                    name: name,
                    description: description,
                    start_date: start,
                    end_date: end,
                },
            });
        }
    }

    function removeExperience(div, cv_id, id) {
        let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');

        div.fadeOut('slow', function() {
            div.remove();
        });

        $.ajax({
            url: `/experiences/${id}`,
            type: 'DELETE',
            data: {
                authenticity_token: AUTH_TOKEN,
                cv_id: cv_id,
                id: id
            },
        });
    }

    function addBackground(div, name, description, start, end, cv_id) {
        if (name != "" && description != "" && start != "") {
            let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');

            $.ajax({
                url: '/backgrounds',
                type: 'POST',
                data: {
                    authenticity_token: AUTH_TOKEN,
                    cv_id: cv_id,
                    name: name,
                    description: description,
                    start_date: start,
                    end_date: end,
                },
            });
        }
    }

    function removeBackground(div, cv_id, id) {
        let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');

        div.fadeOut('slow', function() {
            div.remove();
        });

        $.ajax({
            url: `/backgrounds/${id}`,
            type: 'DELETE',
            data: {
                authenticity_token: AUTH_TOKEN,
                cv_id: cv_id,
                id: id
            },
        });
    }

    function removeWeb(div, cv_id, id) {
        let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');

        div.fadeOut('slow', function() {
            div.remove();
        });

        $.ajax({
            url: `/webs/${id}`,
            type: 'DELETE',
            data: {
                authenticity_token: AUTH_TOKEN,
                'web[cv_id]': cv_id,
                id: id
            },
        });
    }

});
</script>
<div class="">
    <div id="<%=@cv.id%>" class="moncv cv container">
        <div class="update">
            <div>u</div>
            <div>p</div>
            <div>d</div>
            <div>a</div>
            <div>t</div>
            <div>e</div>
        </div>
        <style type="text/css">
        .moncv .update {
            /* writing-mode: vertical-lr; */
            position: fixed;
            top: 20%;
            left: 0;
            background: repeating-radial-gradient(gold, transparent 100px);
            padding: 1%;
            border-radius: 0px 10px 10px 0px;
            color: white;
            display: none;
            text-transform: uppercase;
            border: 0 none;
        }
        .moncv .update:hover {
            cursor: pointer;
        }
        </style>
        <%= form_with model: @cv, html: {class: "updateCV", id: "updateCV"} do |f| %>
        <center>
            <h1>Mon Curriculum Vitae</h1>
        </center>
        <section class="row">
            <div class="col-3 col-sm-3 col-md-4 col-lg-1"></div>
            <div class="avatar col-6 col-sm-6 col-md-4 col-lg-3">
                <% avatar = @student.sexe == 'Homme' ? 'profilh.png' : 'profilf.png' %>
                <div class="text-center">
                    <%= image_tag avatar, class: "img-thumbnail rounded float-left" %>
                </div>
            </div>
            <div class="summary right col-md-12 col-lg-8" style="padding: 0;">
                <h2>
                    <%= f.label :summary, "Résumé" %>
                </h2>
                <div id="summaries" class="summary field">
                    <%= f.text_area :summary, value: @cv.summary, class: "form-control" %>
                </div>
            </div>
        </section>
        <div class="row">
            <section class="col-md-5">
                <div class="">
                    <div id="developer_type">
                        <%= f.text_field :developer_type, class: "form-control" %>
                    </div>
                    <table class="table table-primary">
                        <tr>
                            <th>Nom complet</th>
                            <td>
                                <%= @student.lastname %>
                                <%= @student.firstname %>
                            </td>
                        </tr>
                        <tr>
                            <th>Date de naissance</th>
                            <td>
                                <%= @student.birthdate.strftime("%d %B %Y") %>
                            </td>
                        </tr>
                        <tr>
                            <th>Contact</th>
                            <td>
                                <%= @student.tel %>
                            </td>
                        </tr>
                        <tr>
                            <th>Addresse</th>
                            <td>
                                <%= @student.address %>
                            </td>
                        </tr>
                        <tr>
                            <th>Sexe</th>
                            <td>
                                <%= @student.sexe %>
                            </td>
                        </tr>
                        <tr>
                            <th>Etat civil</th>
                            <td>
                                <%= @student.marital_status %>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="">
                    <h2><label for="language_name">Langues</label></h2>
                    <!--  -->
                    <div class="" id='languages'>
                        <div class='tagHere languages'>
                            <% @cv.languages.sort.each do |language| %>
                            <% if language %>
                            <div id="<%= language.id %>" class="tag language">
                                <a href="#" class="language" id="<%=language.id%>"><i class="icon-close" aria-hidden="true"></i></a>
                                <span class="name">
                                    <%=language.name%></span>
                                <div class="stars">
                                    <% language.level.times do |id| %>
                                    <span class="level fa fa-star" style="color: gold;"></span>
                                    <% end %>
                                    <% (7 - language.level.to_i).times do |id| %>
                                    <span class="level icon-star" style="color: gold;"></span>
                                    <% end %>
                                </div>
                            </div>
                            <% end %>
                            <% end %>
                        </div>
                        <input id="language_name" class="language" type="text" maxlength="14" />
                    </div>
                    <!--  -->
                </div>
                <div class="">
                    <h2><label for="programming_language_name">Connaissances Techniques</label></h2>
                    <!--  -->
                    <div class="" id='programming_languages'>
                        <div class='tagHere programming_languages'>
                            <% @cv.programming_languages.sort.each do |programming_language| %>
                            <% if programming_language %>
                            <div id="<%= programming_language.id %>" class="tag programming_language">
                                <a tabindex="0" href="#" class="programming_language" id="<%=programming_language.id%>"><i class="icon-close" aria-hidden="true"></i></a>
                                <span class="name">
                                    <%=programming_language.name%></span>
                                <div class="stars">
                                    <% programming_language.level.times do |id| %>
                                    <span class="level fa fa-star" style="color: gold;"></span>
                                    <% end %>
                                    <% (7 - programming_language.level.to_i).times do |id| %>
                                    <span class="level icon-star" style="color: gold;"></span>
                                    <% end %>
                                </div>
                            </div>
                            <% end %>
                            <% end %>
                        </div>
                        <input id="programming_language_name" class="programming_language" type="text" maxlength="14" />
                    </div>
                    <!--  -->
                </div>
                <div>
                    <h2><label for="web_name">Mes liens</label></h2>
                    <div id="webs" style="border: 1px solid;padding: 2%;border-radius: 3px;">
                        <% @cv.webs.each do |web| %>
                            <div id="<%= web.id %>" class="web">
                                <span class="name"><%= web.name.html_safe %></span>
                                <div class="float-right">
                                    <a href="<%= web.link %>"><%= web.link %></a>
                                    <a href="#" class="rmweb" for="<%=web.id%>"><i class="icon-close" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        <% end %>
                    </div>
                    <%= render 'webs/new_student_web', web: @web, webslist: @webslist %>
                </div>
            </section>
            <section class="col-md-7">
                <div class="right">
                    <h2><label for="experience_name">experiences</label></h2>
                    <div id="experiences">
                        <div class="tagHere experiences">
                            <% @cv.experiences.each do |ex| %>
                            <% if ex %>
                            <div id="<%= ex.id %>" class="experience">
                                <a href="" class="rmexperience float-right" for="<%= ex.id %>"><i class="icon-close"></i></a>
                                <div class="name">
                                    <span>
                                        <%= ex.name %></span>
                                </div>
                                <div class="date">
                                    <label>Du</label>
                                    <span>
                                        <%= ex.start_date.strftime("%B %Y") %></span>
                                    <label>jusqu'en</label>
                                    <span>
                                        <%= ex.end_date ? ex.end_date.strftime("%B %Y") : Time.now.strftime("%B %Y") %></span>
                                </div>
                                <div class="description">
                                    <p>
                                        <%= ex.description %>
                                    </p>
                                </div>
                            </div>
                            <% end %>
                            <% end %>
                        </div>
                        <div id="0" class="experience new">
                            <div class="name">
                                <input type="text" id="experience_name" name="experience[name]" placeholder="Stagiaire chez Google">
                            </div>
                            <div class="date">
                                <label for="experience_start_date">Du</label>
                                <input type="date" id="experience_start_date" name="experience[start_date]">
                                <label for="experience_end_date">jusqu'en</label>
                                <input type="date" id="experience_end_date" name="experience[end_date]">
                            </div>
                            <div class="description">
                                <textarea maxlength="180" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="experience">
                            <a href="#" for="experiences" class="add-more btn btn-info form-pill"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <h2><label for="skill_name">compétences</label></h2>
                    <!--  -->
                    <div class="" id='skills'>
                        <div class='tagHere skills'>
                            <% @cv.skills.each do |skill| %>
                            <% if skill %>
                            <div class="tag skill">
                                <a href="#" class="skill" id="<%=skill.id%>"><i class="icon-close" aria-hidden="true"></i></a>
                                <span>
                                    <%=skill.name%></span>
                            </div>
                            <% end %>
                            <% end %>
                        </div>
                        <input id="skill_name" class="skill" type="text" />
                    </div>
                    <!--  -->
                </div>
                <div class="right">
                    <h2><label for="background_name">éducations</label></h2>
                    <div id="backgrounds">
                        <div class="tagHere backgrounds">
                            <% @cv.backgrounds.each do |background| %>
                            <% if background %>
                            <div id="<%= background.id %>" class="background">
                                <a href="" class="rmbackground float-right" for="<%= background.id %>"><i class="icon-close"></i></a>
                                <div class="name">
                                    <span>
                                        <%= background.name %></span>
                                </div>
                                <div class="date">
                                    <label>Du</label>
                                    <span>
                                        <%= background.start_date.strftime("%B %Y") %></span>
                                    <label>jusqu'en</label>
                                    <span>
                                        <%= background.end_date.strftime("%B %Y") %></span>
                                </div>
                                <div class="description">
                                    <p>
                                        <%= background.description %>
                                    </p>
                                </div>
                            </div>
                            <% end %>
                            <% end %>
                        </div>
                        <div id="0" class="background new">
                            <div class="name">
                                <input type="text" id="background_name" name="background[name]" placeholder="Stagiaire chez Google">
                            </div>
                            <div class="date">
                                <label for="background_start_date">Du</label>
                                <input type="date" id="background_start_date" name="background[start_date]">
                                <label for="background_end_date">jusqu'en</label>
                                <input type="date" id="background_end_date" name="background[end_date]">
                            </div>
                            <div class="description">
                                <textarea maxlength="180" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="background">
                            <a href="#" for="backgrounds" class="add-more btn btn-info form-pill"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <h2>
                        <label for="cv_hobbies">loisirs</label>
                    </h2>
                    <div id="hobbies" class="hobbies">
                        <div id="<%= @cv.id %>" class="field hobbies">
                            <%= f.text_area :hobbies, value: @cv.hobbies, class: "form-control" %>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <hr>
        <% end %>
    </div>
</div>