<center>
    <h1 style="text-decoration: underline; text-transform: uppercase;">student 1</h1>
</center>
<div class="">
    <div class="cv container">
        <%= form_for @cv, method: :patch do |f| %>
        <center>
            <h1>Mon Curriculum Vitae</h1>
        </center>
        <div class="links">
            <nav class="nav flex-column">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <%= link_to "Aperçu", @cv, method: :get, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Editer", edit_cv_path(@cv), method: :get, class: "nav-link active" %>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Exporter</a>
                    </li>
                </ul>
            </nav>
            <div class="float-right" style="float: right;">
                <%= f.submit "Maj", class: "nav-link" %>
            </div>
        </div>
        <section class="row">
            <div class="avatar col-md-4">
                <% avatar = @student.sexe == 'Homme' ? 'profilh.png' : 'profilf.png' %>
                <div class="text-center">
                    <%= image_tag avatar, class: "img-thumbnail rounded float-left" %>
                </div>
            </div>
            <div class="summary right container col-md-8">
                <h2>
                    <%= f.label :summary, "Résumé" %>
                </h2>
                <p class="summary">
                    <%= f.text_area :summary, value: @cv.summary, class: "form-control" %>
                </p>
            </div>
        </section>
        <!-- <hr> -->
        <section class="row">
            <div class="student_infos col-md-5">
                <h2>
                    <%= f.text_field :developer_type, class: "form-control" %>
                </h2>
                <table class="table table-primary">
                    <tr>
                        <th>Nom complet</th>
                        <td>
                            <%= @student.lastname %>
                            <%= @student.firstname %>
                        </td>
                    </tr>
                    <tr>
                        <th>Date de naissance</th>
                        <td>
                            <%= tag.time l(@student.birthdate, format: :long) %>
                        </td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>
                            <%= @student.tel %>
                        </td>
                    </tr>
                    <tr>
                        <th>Addresse</th>
                        <td>
                            <%= @student.address %>
                        </td>
                    </tr>
                    <tr>
                        <th>Sexe</th>
                        <td>
                            <%= @student.sexe %>
                        </td>
                    </tr>
                    <tr>
                        <th>Etat civil</th>
                        <td>
                            <%= @student.marital_status %>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="right col-md-7">
                <h2>
                    <%= f.label :experiences, "Experiences" %>
                </h2>
                <div class="experiences row" style="display: block;">
                    <% @cv.experiences.each do |ex| %>
                    <% if ex %>
                    <div id="experience<%= ex.id %>" class="field experience old form-group col-md-4 row">
                        <input type="text" id="exp<%= ex.id %>0" name="expnames[name<%= ex.id %>]" class="form-control" value="<%= ex.name %>">
                        <div class="actions collapse row">
                          <div class="col-md-10" style="padding: 0 0 0 2%;">
                            <textarea id="exp<%= ex.id %>1" name="expdescriptions[description<%= ex.id %>]" class="level form-control col-md-10"><%= ex.description %></textarea>
                          </div>
                            <div class="col-md-2" style="padding: 0 0 0 2%;">
                                <a href="#" class="update"><i class="fa fa-arrow-down"></i></a>
                                <a id="rmexperience<%= ex.id %>" class="remove-me"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                </div>
                <div class="">
                    <a href="#" id="experiences" class="add-more btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </section>
        <!-- <hr> -->
        <section class="row">
            <div class="col-md-5">
                <h2>
                    <%= f.label :programming_languages, "Connaissances Techniques" %>
                </h2>
                <div class="programming_languages row">
                    <% @cv.programming_languages.each do |programming_language| %>
                    <% if programming_language %>
                    <div id="programming_language<%= programming_language.id %>" class="programming_language form-group col-md-6 row">
                        <div class="col-md-11">
                            <%= programming_language.name %>
                        </div>
                        <span class="col-2 col-sm-1 col-md-1 col-lg-1 remove">
                            <a href="#" id="rmprogramming_language<%= programming_language.id %>" class="btn btn-danger remove-me"><i class="fas fa-plus"></i></a>
                        </span>
                    </div>
                    <% end %>
                    <% end %>
                    <div id="programming_language0" class="first-field programming_language form-group col-md-6">
                        <select id="programming_language0" name="programming_languages[programming_language0]" class="form-control">
                            <option>Aucune</option>
                            <option>programming_language1</option>
                            <option>programming_language2</option>
                            <option>programming_language3</option>
                        </select>
                    </div>
                </div>
                <a href="#" id="programming_languages" class="add-more btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
            <div class="right col-md-7">
                <h2>
                    <%= f.label :skills, "Compétences" %>
                </h2>
                <div class="skills row">
                    <% @cv.skills.each do |skill| %>
                    <% if skill %>
                    <div id="skill<%= skill.id %>" class="skill form-group col-md-4 row">
                        <div class="col-md-11">
                            <%= skill.name %>
                        </div>
                        <span class="col-2 col-sm-1 col-md-1 col-lg-1 remove">
                            <button id="rmskill<%= skill.id %>" class="btn btn-danger remove-me">x</button>
                        </span>
                    </div>
                    <% end %>
                    <% end %>
                    <div id="skill0" class="first-field skill form-group col-md-4">
                        <select id="skill0" name="skills[skill0]" class="form-control">
                            <option>Aucune</option>
                            <option>skill1</option>
                            <option>skill2</option>
                            <option>skill3</option>
                        </select>
                    </div>
                </div>
                <a href="#" id="skills" class="add-more btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
        </section>
        <section class="row">
            <div class="col-md-5">
                <h2>
                    <%= f.label :languages, "Langues" %>
                </h2>
                <div class="languages row">
                    <% @cv.languages.each do |language| %>
                    <% if language %>
                    <div id="language<%= language.id %>" class="language form-group col-md-6 row">
                        <div class="col-md-11">
                            <%= language.name %>
                        </div>
                        <span class="col-2 col-sm-1 col-md-1 col-lg-1 remove">
                            <a href="#" id="rmlanguage<%= language.id %>" class="btn btn-danger remove-me"><i class="fas fa-plus"></i></a>
                        </span>
                    </div>
                    <% end %>
                    <% end %>
                    <div id="language0" class="first-field language form-group col-md-6">
                        <select id="language0" name="languages[language0]" class="form-control">
                            <option>Aucune</option>
                            <option>language1</option>
                            <option>language2</option>
                            <option>language3</option>
                        </select>
                    </div>
                </div>
                <a href="#" id="languages" class="add-more btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
            <div class="right col-md-7">
                <div class="hobbies">
                    <h2>
                        <%= f.label :hobbies, "Passe temps" %>
                    </h2>
                    <p class="hobbies">
                        <%= f.text_area :hobbies, value: @cv.hobbies, class: "form-control" %>
                    </p>
                </div>
            </div>
        </section>
        <hr>
        <% end %>
    </div>
</div>
<% content_for :head_tag do %>
<script>
$(document).ready(function($) {

    $(".add-more").click(function(e) {
        e.preventDefault();

        let id = this.id;

        let div = $(`div.${id}:first`);
        let children = $(`div.${id}:first div.${id.slice(0, this.id.length-1)}`);

        let newInput;

        if (id == "experiences") {
            newID = children.length + 1;
            newInput = `
              <div id="experience${newID}" class="field experience form-group col-md-4 row">
                <input type="text" id="exp${newID}0" name="expnames[name${newID}]" class="form-control">
                  <textarea id="exp${newID}1" name="expdescriptions[description${newID}]" class="level hide form-control"></textarea>
                <div class="actions collapse">
                  <a href="#" class="update btn btn-default">D</a>
                  <a id="rmexperience${newID}" class="btn btn-danger remove-me"><i class="fa fa-trash"></i></a>
                </div>
              </div>
            `;
        } else if (id == "skills") {
            newID = children.length + 1;
            newInput = `
                <div id="skill${newID}" class="skill form-group col-md-4 row">
                    <div class="col-md-11">
                        <select id="skill${newID}" name="skills[skill${newID}]" class="form-control">
                            <option>skill1</option>
                            <option>skill2</option>
                            <option>skill3</option>
                        </select>
                    </div>
                    <div class="col-2 col-sm-1 col-md-1 col-lg-1 remove">
                        <a id="rmskill${newID}" class="btn btn-danger remove-me" >x</a>
                    </div>
                </div>
            `;
        } else if (id == "languages") {
            newID = children.length + 1;
            newInput = `
                <div id="language${newID}" class="language form-group col-md-6 row">
                    <div class="col-md-11">
                        <select id="language${newID}" name="languages[language${newID}]" class="form-control">
                            <option>language1</option>
                            <option>language2</option>
                            <option>language3</option>
                        </select>
                    </div>
                    <div class="col-2 col-sm-1 col-md-1 col-lg-1 remove">
                        <a id="rmlanguage${newID}" class="btn btn-danger remove-me" >x</a>
                    </div>
                </div>
            `;
        } else if (id == "programming_languages") {
            newID = children.length + 1;
            newInput = `
                <div id="programming_language${newID}" class="programming_language form-group col-md-6 row">
                    <div class="col-md-11">
                        <select id="programming_language${newID}" name="programming_languages[programming_language${newID}]" class="form-control">
                            <option>programming_language1</option>
                            <option>programming_language2</option>
                            <option>programming_language3</option>
                        </select>
                    </div>
                    <div class="col-2 col-sm-1 col-md-1 col-lg-1 remove">
                        <a id="rmprogramming_language${newID}" class="btn btn-danger remove-me" >x</a>
                    </div>
                </div>
            `;
        } else {
            newInput = ``;
        }

        $(div).append(newInput);

        removeDiv();
        toggleActions();
    });

    function removeDiv() {
        $(".remove-me").click(function(e) {
            e.preventDefault();
            let id = this.id.slice(2, this.id.length);
            let div = $(`div#${id}`);
            div.fadeOut('slow', function() {
                div.remove();

                if (div.hasClass('old')) {
                    let $ID = div.attr('id').slice(10, div.attr('id').length);

                    if (div.hasClass('experience')) {
                        $.ajax({
                                url: `/experiences/${$ID}`,
                                method: 'DELETE',
                                data: {
                                    "authenticity_token": "+aLO+xloDFkm+Gqwz5LEDqTa7T2UjaLOg4d56UZQOdVXWbPtuXC7/FgSRNzCTqsom+lWbuqwgc9qrjzQUMY0Ww==",
                                    id: $ID
                                }
                            })
                            .done(function() {
                                console.log("success");
                            })
                            .fail(function() {
                                console.log("error");
                            })
                            .always(function() {
                                console.log("complete");
                            });
                    }

                }
            });
        });
    }
    removeDiv();

    function updateDiv() {
      $(`input`).focusout(function(event) {
        let div = $(this).parent();
        if (div.hasClass('old')) {
          let $ID, $NAME, $URL;
          $NAME = this.value
          if (div.hasClass('experience')) {
            $ID = div.attr('id').slice(10, div.attr('id').length);
            $URL = `/experiences/${$ID}`;
          }
          $.ajax({
            url: $URL,
            type: 'PATCH',
            data: {
              "authenticity_token": "+aLO+xloDFkm+Gqwz5LEDqTa7T2UjaLOg4d56UZQOdVXWbPtuXC7/FgSRNzCTqsom+lWbuqwgc9qrjzQUMY0Ww==",
              id: $ID,
              name: $NAME
            }
          });
        }
      });
      $(`textarea`).focusout(function(event) {
        let div = $(this).parents('field:first');
        console.log(div);
        // if (div.hasClass('old')) {
        //   let $ID, $NAME, $URL;
        //   $NAME = this.value
        //   if (div.hasClass('experience')) {
        //     $ID = div.attr('id').slice(10, div.attr('id').length);
        //     $URL = `/experiences/${$ID}`;
        //   }
        //   $.ajax({
        //     url: $URL,
        //     type: 'PATCH',
        //     data: {
        //       "authenticity_token": "+aLO+xloDFkm+Gqwz5LEDqTa7T2UjaLOg4d56UZQOdVXWbPtuXC7/FgSRNzCTqsom+lWbuqwgc9qrjzQUMY0Ww==",
        //       id: $ID,
        //       name: $NAME
        //     }
        //   });
        // }
      });
    }
    updateDiv();

    function toggleActions() {
        $(`.field`).hover(function() {
            let actions = $(this).children('.actions:first');
            actions.slideDown('fast');
        }, function() {
            let actions = $(this).children('.actions:first');
            actions.slideUp('fast');
        });
    }
    toggleActions();
})
</script>
<% end %>