<% content_for :head_tag do %>
<link rel="stylesheet" type="text/css" href="/assets/cvs/cvs.css">
<% end %>
<div class="">
    <div id="<%=@cv.id%>" class="moncv cv container">
        <center>
            <h1>Mon Curriculum Vitae</h1>
        </center>
        <section class="row">
            <div class="col-3 col-sm-3 col-md-4 col-lg-1"></div>
            <div class="avatar col-6 col-sm-6 col-md-4 col-lg-3">
                <% avatar = @student.sexe == 'Masculin' ? 'profilh.png' : 'profilf.png' %>
                <div class="text-center">
                    <%= image_tag avatar, class: "img-thumbnail rounded float-left" %>
                </div>
            </div>
            <div class="summary right col-md-12 col-lg-8" style="padding: 0;">
                <h2>
                    <label for="cv_summary">Résumé</label>
                </h2>
                <div id="summaries" class="summary field">
                    <textarea id="cv_summary" name="cv[summary]" value="" class= "form-control" readonly><%= @cv.summary %></textarea>
                </div>
            </div>
        </section>
        <div class="row">
            <section class="col-md-5">
                <div class="">
                    <div id="developer_type">
                        <input id="cv_developer_type" type="text" name="cv[developer_type]" value="<%= @cv.developer_type %>" class="form-control" readonly>
                    </div>
                    <table class="table table-primary">
                        <tr>
                            <th>Nom complet</th>
                            <td>
                                <%= @student.lastname %>
                                <%= @student.firstname %>
                            </td>
                        </tr>
                        <tr>
                            <th>Date de naissance</th>
                            <td>
                                <%= @student.birthdate.strftime("%d %B %Y") %>
                            </td>
                        </tr>
                        <tr>
                            <th>Contact</th>
                            <td>
                                <%= @student.tel %>
                            </td>
                        </tr>
                        <tr>
                            <th>Addresse</th>
                            <td>
                                <%= @student.address %>
                            </td>
                        </tr>
                        <tr>
                            <th>Sexe</th>
                            <td>
                                <%= @student.sexe %>
                            </td>
                        </tr>
                        <tr>
                            <th>Etat civil</th>
                            <td>
                                <%= @student.marital_status %>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="">
                    <h2><label for="language_name">Langues</label></h2>
                    <!--  -->
                    <div class="" id='languages'>
                        <div class='tagHere languages'>
                            <% @cv.languages.sort.each do |language| %>
                            <% if language %>
                            <div id="<%= language.id %>" class="tag language">
                                <span class="name">
                                    <%=language.name%></span>
                                <div class="stars">
                                    <% language.level.times do |id| %>
                                    <span class="level fa fa-star" style="color: gold;"></span>
                                    <% end %>
                                    <% (5 - language.level.to_i).times do |id| %>
                                    <span class="level icon-star" style="color: gold;"></span>
                                    <% end %>
                                </div>
                            </div>
                            <% end %>
                            <% end %>
                        </div>
                    </div>
                    <!--  -->
                </div>
                <div class="">
                    <h2><label for="programming_language_name">Connaissances Techniques</label></h2>
                    <!--  -->
                    <div class="" id='programming_languages'>
                        <div class='tagHere programming_languages'>
                            <% @cv.programming_languages.sort.each do |programming_language| %>
                            <% if programming_language %>
                            <div id="<%= programming_language.id %>" class="tag programming_language">
                                <span class="name">
                                    <%=programming_language.name%></span>
                                <div class="stars">
                                    <% programming_language.level.times do |id| %>
                                    <span class="level fa fa-star" style="color: gold;"></span>
                                    <% end %>
                                    <% (5 - programming_language.level.to_i).times do |id| %>
                                    <span class="level icon-star" style="color: gold;"></span>
                                    <% end %>
                                </div>
                            </div>
                            <% end %>
                            <% end %>
                        </div>
                    </div>
                    <!--  -->
                </div>
                <% if @cv.swebs.any? %>
                <div class="webs">
                    <h2><label for="sweb_name">Mes liens</label></h2>
                    <div id="swebs">
                        <% @cv.swebs.each do |sweb| %>
                            <div id="<%= sweb.id %>" class="sweb">
                                <span class="name"><%= image_tag "#{sweb.name}.svg", class: "img-fluid", style: "width: 20px; height: 25px;" %></span>
                                <a href="<%= sweb.link %>"><%= sweb.link %></a>
                            </div>
                        <% end %>
                    </div>
                </div>
                <% end %>
            </section>
            <section class="col-md-7">
                <div class="right">
                    <h2><label for="experience_name">experiences</label></h2>
                    <div id="experiences">
                        <div class="tagHere experiences">
                            <% @cv.experiences.each do |ex| %>
                            <% if ex %>
                            <div id="<%= ex.id %>" class="experience">
                                <div class="name">
                                    <span>
                                        <%= ex.name %></span>
                                </div>
                                <div class="date">
                                    <label>Du</label>
                                    <span>
                                        <%= ex.start_date.strftime("%B %Y") %></span>
                                    <label>jusqu'en</label>
                                    <span>
                                        <%= ex.end_date ? ex.end_date.strftime("%B %Y") : Time.now.strftime("%B %Y") %></span>
                                </div>
                                <div class="description">
                                    <p>
                                        <%= ex.description %>
                                    </p>
                                </div>
                            </div>
                            <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <h2><label for="skill_name">compétences</label></h2>
                    <!--  -->
                    <div class="" id='skills'>
                        <div class='tagHere skills'>
                            <% @cv.skills.each do |skill| %>
                            <% if skill %>
                            <div class="tag skill">
                                <span class="name"><%=skill.name%></span>
                            </div>
                            <% end %>
                            <% end %>
                        </div>
                    </div>
                    <!--  -->
                </div>
                <div class="right">
                    <h2><label for="background_name">éducations</label></h2>
                    <div id="backgrounds">
                        <div class="tagHere backgrounds">
                            <% @cv.backgrounds.each do |background| %>
                            <% if background %>
                            <div id="<%= background.id %>" class="background">
                                <div class="name">
                                    <span>
                                        <%= background.name %></span>
                                </div>
                                <div class="date">
                                    <label>Du</label>
                                    <span>
                                        <%= background.start_date.strftime("%B %Y") %></span>
                                    <label>jusqu'en</label>
                                    <span>
                                        <%= background.end_date.strftime("%B %Y") %></span>
                                </div>
                                <div class="description">
                                    <p>
                                        <%= background.description %>
                                    </p>
                                </div>
                            </div>
                            <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <h2>
                        <label for="cv_hobbies">loisirs</label>
                    </h2>
                    <div id="hobbies" class="hobbies">
                        <div id="<%= @cv.id %>" class="field hobbies">
                            <textarea id="cv_hobbies" name="cv[hobbies]" value="" class="form-control" readonly=""><%= @cv.hobbies %></textarea>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <hr>
    </div>
</div>