<p id="notice"><%= notice %></p>

<p>
  <strong>Hobbies:</strong>
  <%= @cv.hobbies %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @cv.summary %>
</p>

<%= link_to 'Edit', edit_cv_path(@cv) %> |
<%= link_to 'Back', cvs_path %>
