<<<<<<< HEAD
<title><%= "#{controller_name} #{action_name}"%></title>
=======
<title><%= "#{controller_name.upcase} #{action_name.capitalize}"%></title>
>>>>>>> 3d8bf1840f41bdcc937225dc01bd5eb73c1f91ee
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
<!--web fonts-->
<link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<!--bootstrap styles-->
<link href="/codelab/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--icon font-->
<link href="/codelab/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/codelab/vendor/dashlab-icon/dashlab-icon.css" rel="stylesheet">
<link href="/codelab/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
<link href="/codelab/vendor/themify-icons/css/themify-icons.css" rel="stylesheet">
<link href="/codelab/vendor/weather-icons/css/weather-icons.min.css" rel="stylesheet">
<!--jquery ui-->
<link href="/codelab/vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet">
<!--iCheck-->
<link href="/codelab/vendor/icheck/skins/all.css" rel="stylesheet">
<!--custom styles-->
<link href="/codelab/css/main.css" rel="stylesheet">
<!--basic scripts-->
<script src="/codelab/vendor/jquery/jquery.min.js"></script>
<script src="/codelab/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/codelab/vendor/popper.min.js"></script>
<script src="/codelab/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/codelab/vendor/jquery.dcjqaccordion.2.7.js"></script>
<!--chartjs-->
<script src="/codelab/vendor/chartjs/Chart.bundle.min.js"></script>
<!--chartjs initialization-->
<script src="/codelab/vendor/js-init/chartjs/init-sales-overview-chart.js"></script>
<script src="/codelab/vendor/js-init/chartjs/init-area-chart.js"></script>
<script src="/codelab/vendor/js-init/chartjs/init-line-chart.js"></script>
<!--[if lt IE 9]>
            <script src="/codelab/vendor/modernizr.js"></script>
            <![endif]-->
<!--basic scripts initialization-->
<<<<<<< HEAD
<script src="/assets/codelab/js/scripts.js"></script>
=======
<script src="/codelab/js/scripts.js"></script>
>>>>>>> 3d8bf1840f41bdcc937225dc01bd5eb73c1f91ee
<%= yield :head_tag %>
