<title>
    <%= "#{controller_name.upcase} #{action_name.capitalize}"%>
</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<% stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<!--bootstrap styles-->
<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--icon font-->
<link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/assets/vendor/dashlab-icon/dashlab-icon.css" rel="stylesheet">
<link href="/assets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
<link href="/assets/vendor/themify-icons/css/themify-icons.css" rel="stylesheet">
<link href="/assets/vendor/weather-icons/css/weather-icons.min.css" rel="stylesheet">
<!--favicon icon-->
<link rel="icon" type="image/png" href="/assets/img/404.png">
<!--jquery ui-->
<link href="/assets/vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet">
<!--iCheck-->
<link href="/assets/vendor/icheck/skins/all.css" rel="stylesheet">
<!--toastr-->
<link href="/assets/vendor/toastr-master/toastr.css" rel="stylesheet">
<!--select2-->
<link href="/assets/vendor/select2/css/select2.css" rel="stylesheet">

<!--custom styles-->
<link href="/assets/css/main.css" rel="stylesheet">
<%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
<!--basic scripts-->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/vendor/popper.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/jquery.dcjqaccordion.2.7.js"></script>
<script src="/assets/vendor/icheck/skins/icheck.min.js"></script>
<!--chartjs-->
<script src="/assets/vendor/chartjs/Chart.bundle.min.js"></script>
<!-- chartjs initialization -->
<!-- <script src="/assets/vendor/js-init/chartjs/init-area-chart.js"></script> -->
<!-- <script src="/assets/vendor/js-init/chartjs/init-line-chart.js"></script> -->
<!-- <script src="/assets/vendor/js-init/chartjs/init-sales-overview-chart.js"></script> -->
<!-- <script src="/assets/vendor/js-init/chartjs/init-sales-report-chart.js"></script> -->
<!-- <script src="/assets/vendor/js-init/chartjs/init-bubble-chart.js"></script> -->
<!--barchart & doughnut chart initialization-->
<!-- <script src="/assets/vendor/js-init/chartjs/init-bar-chartjs.js"></script> -->
<!-- <script src="/assets/vendor/js-init/chartjs/init-doughnut-chart.js"></script> -->
<!--select2-->
<script src="/assets/vendor/select2/js/select2.min.js"></script>
<!--init select2-->
<script src="/assets/vendor/js-init/init-select2.js"></script>
<script src="/assets/js/scripts.js"></script>
<%= yield :head_tag %>
<!--toastr-->
<script src="/assets/vendor/toastr-master/toastr.js"></script>
<!--init toastr-->
<script src="/assets/vendor/js-init/init-toastr.js"></script>
