<!DOCTYPE html>
<html>

<head>
    <% if controller_name != 'vitrines' %>
    <%= render 'layouts/head' %>
    <% else %>
    <%= render 'layouts/head2' %>
    <% end %>
</head>

<body class="<%= controller_name %> <%= action_name %> header-fixed header-primary-color">
    <% page_need_navbar = controller_name != "sessions" && controller_name != "registrations" && controller_name != "passwords" && controller_name != "confirmations" %>
    <%= render 'layouts/flash' %>
    <% if page_need_navbar %>
    <% if controller_name == "vitrines" %>
    <%= render template: 'layouts/navbar2' %>
    <% else %>
    <%= render template: 'layouts/navbar' %>
    <% end %>
    <% end %>
    <% if user_signed_in? %>
    <div id="main">
        <% case current_user.status %>
        <% when "admin" %>
        <section class="left-sidebar-fixed">
            <div class="app-body">
                <%= render 'layouts/leftnav' %>
                <div class="content-wrapper">
                    <%= yield %>
                </div>
                <%= render 'layouts/rightnav' %>
            </div>
        </section>
        <% when "staff" %>
        <section class="left-sidebar-fixed">
            <div class="app-body">
                <%= render 'layouts/leftnav' %>
                <div class="content-wrapper">
                    <%= yield %>
                </div>
                <%= render 'layouts/rightnav' %>
            </div>
        </section>
        <% when "student" %>
        <div <% if page_need_navbar %>class="pt-10"
            <% end %>>
            <%= yield %>
        </div>
        <% when "company" %>
        <div <% if page_need_navbar %>class="pt-10"
            <% end %>>
            <%= yield %>
        </div>
        <% when "guest" %>
        <div <% if page_need_navbar %>class="pt-10"
            <% end %>>
            <%= yield %>
        </div>
        <% end %>
    </div>
    <% else %>
    <div <% if page_need_navbar %>class="pt-10"
        <% end %>>
        <%= yield %>
    </div>
    <% end %>
    <% if controller_name == "vitrines" %>
    <%= render 'layouts/foot' %>
    <% end %>
</body>

</html>