<!DOCTYPE html>
<html>

<head>
    <%= render 'layouts/head' %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
    <%= render 'layouts/flash' %>
    <% if controller_name != "sessions" && controller_name != "registrations" %>
        <%= render template: 'layouts/navbar' %>
    <% end %>
    <section class="left-sidebar-fixed">
        <div class="app-body">
            <%= yield %>
        </div>
    </section>
</body>

</html>