<!DOCTYPE html>
<html>

<head>
    <%= render 'layouts/head' %>
</head>

<body class="<%= controller_name %> <%= action_name %> header-fixed header-primary-color">
    <%= render 'layouts/flash' %>
    <% if controller_name != "sessions" && controller_name != "registrations" && controller_name != "passwords" && controller_name != "confirmations" %>
    <%= render template: 'layouts/navbar' %>
    <% end %>
    <% if user_signed_in? && current_user.status == "admin" %>
    <section class="left-sidebar-fixed">
        <div class="app-body">
            <%= render 'layouts/leftnav' %>
    <% end %>
        
        <div <% if controller_name != "sessions" && controller_name != "registrations" && controller_name != "passwords" && controller_name != "confirmations" %>class="pt-10"<% end %>>
            <%= yield %>
        </div>

    <% if user_signed_in? && current_user.status == "admin" %>
            <%= render 'layouts/rightnav' %>
        </div>
    </section>
    <% end %>
</body>

</html>