<script type="text/javascript">
jQuery(document).ready(function($) {
    getNotification();

    function getNotification() {
        setTimeout(function() {
            $.ajax({
                url: '/notifications',
                type: 'GET',
                dataType: 'script'
            });

            getNotification();
        }, 1000 * 10); // 10s
    }

    $(`a#notif-icon`).click(function(event) {
        /* Act on the event */
        $notifications = $(`#notifications`);
        // if ($notifications.html() != "" && !$notifications.children('a:first').hasClass('default')) {
        //     createChecking();
        // }
        // getNotification();

        event.preventDefault();
    });

    function createChecking() {
        let AUTH_TOKEN = $(`input[name="authenticity_token"]`).attr('value');
        $.ajax({
            url: `/checkings`,
            type: 'POST',
            dataType: 'script',
            data: {
                authenticity_token: AUTH_TOKEN
            },
        });
    }
});
</script>
<!--header start-->
<%= form_with(model: Checking.new) do |f| %>
<% end %>
<header class="app-header">
    <div class="branding-wrap">
        <% if user_signed_in? && (current_user.status == "admin" || current_user.status == "staff") %>
        <!--left nav toggler start-->
        <a class="nav-link mt-2 float-left js_left-nav-toggler pos-fixed" href="javaScript:;">
            <i class="ti-align-right"></i>
        </a>
        <!--left nav toggler end-->
        <% else %>
        <a class="nav-link mt-2 float-left js_left-nav-toggler pos-fixed" href="javaScript:;">
            <i class="fa fa-dashboard" aria-hidden="true"></i>
        </a>
        <% end %>
        <!--brand start-->
        <div class="navbar-brand pos-fixed">
            <a class="" href="/" data-method="GET">
                <img src="/assets/img/logo.png" srcset="/assets/img/logo@2x.jpg 2x" alt="CodeLab">
            </a>
        </div>
        <!--brand end-->
    </div>
    <!--header rightside links-->
    <ul class="header-links hide-arrow navbar">
        <% if user_signed_in? %>
        <li class="nav-item search-bar">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#searchModal">
                <i class="vl_search"></i>
            </button>
        </li>
            <% if current_user.student %>
                <%= render 'students/messages' %>
            <% end %>
        <% end %>
        <% if user_signed_in? %>
        <li class="nav-item dropdown ">
            <% if current_user.student %>
                <% snotifications = []
                    Notification.all.each do |notification|
                        snotifications << notification if (notification.target == "all" || notification.target == "students")
                    end
                    snotifications = snotifications.sort_by { |obj| obj.created_at }.reverse
                %>
                <%= render 'students/notifications', notifications: (snotifications) %>
            <% elsif current_user.company %>
                <% cnotifications = []
                    Notification.all.each do |notification|
                        cnotifications << notification if (notification.target == "all" || notification.target == "companies")
                    end
                    cnotifications = cnotifications.sort_by { |obj| obj.created_at }.reverse
                %>
                <%= render 'companies/notifications', notifications: (cnotifications) %>
            <% elsif current_user.status == "admin" %>
            <%= render 'admins/notifications', notifications: (Notification.all.sort_by { |obj| obj.created_at }.reverse) %>
            <% end %>
        </li>
        <% end %>
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" id="userNav" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="user-thumb">
                    <% if user_signed_in? %>
                        <% if current_user.status == "admin"
                            avatar = 'avatar_2x.png'
                          else
                            avatar = 'profilh.png'
                          end
                        %>
                    <%= image_tag avatar, class: "rounded-circle mr-2", alt: "" %>
                    <% else %>
                    <img src="/assets/img/avatar/avatar2.jpg" class="rounded-circle mr-2" alt="">
                    <% end %>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userNav">
                <% if user_signed_in? %>
                <% if current_user.student %>
                <%= render 'students/navbar', student: current_user.student %>
                <% elsif current_user.company %>
                <%= render 'companies/navbar', company: current_user.company %>
                <% elsif current_user.status == "admin" || current_user.status == "staff" %>
                <%= render 'admins/navbar' %>
                <% else %>
                <% end %>
                <% else %>
                <div class="dropdown-item- px-3 py-2">
                    <img src="/assets/img/avatar/avatar2.jpg" class="rounded-circle mr-2" width="35" alt="">
                    <span class="text-muted">Sayna Lab</span>
                </div>
                <a class="dropdown-item" href="/users/sign_in" data-method="GET">Se connecter</a>
                <a class="dropdown-item" href="/users/sign_up" data-method="GET">S'inscrire</a>
                <% end %>
            </div>
        </li>
        <% if user_signed_in? && current_user.status == "admin" %>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link right_side_toggle">
                <i class="icon-options-vertical"> </i>
            </a>
        </li>
        <% end %>
    </ul>
    <!--/header rightside links-->
</header>
<% if user_signed_in? %>
<!--search modal start-->
<%= render template: 'searches/new' %>
<!--search modal start-->
<% end %>
<!--header end-->
