<header id="header">
    <nav class="navbar navbar-inverse navbar navbar-default navbar-fixed-top menu">
    <a class="navbar-brand" href="https://www.sayna.io" data-method="GET">Sayna</a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class=""><a href="/">Accueil <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= user_signed_in? ? current_user.username : "Liens" %>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <% if !user_signed_in? %>
                    <li><a href="<%= new_user_registration_path %>" data-method="get">S'inscrire</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="<%= new_user_session_path %>" data-method="get">Se connecter</a></li>
                    <% else %>
                    <% if current_user.status == "admin" %>
                    <li><a href="/admin" data-method="get">Mon dashboard</a></li>
                    <% else %>
                    <li><a href="<%= mondashboard_path %>" data-method="get">Mon dashboard</a></li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="<%= current_user.company ? "/monprofile/#{current_user.company.id}" : "/monprofil/#{current_user.student.id}" %>" data-method="get">Mon profil</a>
                    </li>
                    <li>
                        <% if current_user.company %>
                        <% else %>
                            <a href="/moncv/<%= current_user.student.cv.id %>" data-method="get">Mon cv</a>
                        <% end %>
                    </li>
                    <% end %>
                    <li role="separator" class="divider"></li>
                    <li><a href="<%= destroy_user_session_path %>" data-method="delete">Se deconnecter</a></li>
                    <% end %>
                </ul>
            </li>
        </ul>
        <% if user_signed_in? && current_user.student %>
        <%= render template: 'students/navbar' %>
        <% elsif user_signed_in? && current_user.company %>
        <%= render template: 'companies/navbar' %>
        <% end %>
    </div>
</nav>
</header>
<% if flash[:notice] || notice %>
<p class="alert alert-success">
    <%= notice %>
</p>
<% end %>
<% if flash[:alert] || alert %>
<p class="alert alert-danger">
    <%= alert %>
</p>
<% end %>

<% if flash[:notice] || flash[:alert] || notice || alert %>
    
<script type="text/javascript">
jQuery(document).ready(function($) {
    setTimeout(function() {
        $(`.alert`).slideUp("slow");
    }, 2500);

    let yourNavigation = $(".navbar");
    stickyDiv = "sticky";
    yourHeader = $('.header').height();

    $(window).scroll(function() {
        if ($(this).scrollTop() > yourHeader) {
            yourNavigation.addClass(stickyDiv);
        } else {
            yourNavigation.removeClass(stickyDiv);
        }
    });
});
</script>
<% end %>